<%- include('partials/guestHeader') -%>

<main class="container">
    <div class="mt-5 d-flex flex-wrap-reverse justify-content-center">
        <div class="d-flex flex-column align-items-center mt-3 text-center" style="text-wrap: balance;">
            <h1>Embrace your Roots, Find your Tribe!</h1>
            <p>Make new friends and connect with real people while sharing your experiences together on Tribal. Find your tribe today!</p>
            <a href="/signup" class="btn btn-primary"><strong>Join Tribal!</strong></a>
        </div>
        <img src="/imgs/tribalBanner.png" alt="Banner Image" height=206>
    </div>
</main>
    

<%- include('partials/footer') -%>