html{
  height: 100%;
}
body, header{
  background: linear-gradient(45deg, #00856A, #D0B078) fixed, fixed url(/textures/brush-stroke-texture.png);
  background-blend-mode: hard-light;
}
body{
  min-height: 100%;
}
header{
  backdrop-filter: blur(10px);
  opacity: 0.8;
  &:hover, &:active {
    opacity: 1;
  }
}
.nav-link{
  color: #792633;
  font-weight: bold;
  font-size: 1.3vw;
}
.navbar-routes a{
  &:hover, &:active {
    color: #df445b;
  }
}
footer a{
  color: #df445b;
}

.post-container{
  --gap-size: 25px;
  gap: var(--gap-size);
}
.post a{
    color: inherit;
    text-decoration: inherit;
}
.post img{
  max-width: 100%; 
  max-height: 400px;
}
.post{
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 320px;
  max-width: calc(50% - var(--gap-size));
  background: #fff3;
  border-radius: var(--gap-size);
}
/* Handles Navbar at small viewports */
@media (width < 375px){
  nav.navbar>div.container-fluid{
    justify-content: center;
  }
}
@media(width < 1000px){
  .post{
    max-width: 100%;
  }
}