html{
  height: 100%;
}
body, header{
  background: linear-gradient(45deg, #00856A, #D0B078) fixed, fixed url(/textures/brush-stroke-texture.png);
  background-blend-mode: hard-light;
}
body{
  min-height: 100%;
}
header{
  backdrop-filter: blur(10px);
  opacity: 0.8;
  &:hover, &:active {
    opacity: 1;
  }
}
.nav-link{
  color: #792633;
  font-weight: bold;
  font-size: max(1.3vw, 1.3em);
}
.navbar-routes a{
  &:hover, &:active {
    color: #df445b;
  }
}
footer a{
  color: #df445b;
}
.post-container{
  --gap-size: 25px;
  text-align: left;
  gap: var(--gap-size);
}
.post a{
    color: inherit;
    text-decoration: inherit;
}
.post img{
  padding: 0 25px;
  max-width: 100%; 
  max-height: 400px;
}
.row>.post{
  padding: 0;
  /* overwrites bootstrap properties */
}
.comment{
  background: #fff5;
  border-radius: 0 0 25px 25px;
}
.comment a{
  color: black;
  &:hover{
    color: blue;
  }
}
.comment p{
  border-radius: 5px;
}
.post{
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 320px;
  max-width: calc(50% - var(--gap-size));
  background: #fff3;
  border-radius: var(--gap-size);
  backdrop-filter: blur(2px);
  &:hover, &:active{
    backdrop-filter: blur(5px);
    outline: solid 2px #000;
  }
}
/* Handles Navbar at small viewports */
@media (width < 375px){
  nav.navbar>div.container-fluid{
    justify-content: center;
  }
}
@media(width < 1000px){
  .post{
    max-width: 100%;
  }
}

/* add new style that goes over a div  */
.story{
  background: #fff5;
  border-radius: 25px;
  padding: 10px 50px;
  @media (max-width: 990px){
    text-align: justify;
    padding: 10px 5px;
    & h2{
      text-align: center;
      text-wrap: balance;
    }
  }
}